# ---------------------------
# DESTINATION Database Settings
# ---------------------------
DESTINATION_USER="pub4all"
DESTINATION_PASS="7gMeafZ"
DESTINATION_HOST="lokkal.com"
DESTINATION_PORT="3307"
DESTINATION_DB="dlokkal.com_myvents"
# ---------------------------
# Destination Database Settings
# ---------------------------
DESTINATION_USER="pub4all"
DESTINATION_PASS="7gMeafZ"
DESTINATION_HOST="127.0.0.1"
DESTINATION_PORT="3306"
DESTINATION_DB="lokkal.com_myvents"
